#aboutme {
  background-color: #fff;
  min-height: 60vh;
  display: flex;
  flex-wrap: wrap;
}

.split-40 {
  width: 40%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.split-50 {
  width: 50%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.split-60 {
  width: 60%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.image-inside {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

#aboutme-card {
  height: 100%;
  min-height: 80vh;
  transition: transform 2s ease-in-out;
}

#aboutme-card::before {
  content: "";
  position: absolute;
  left: -20%;
  top: 50%;
  transform: translateY(-50%) rotate(20deg);
  background: #fff;
  width: 40%;
  height: 140%;
  transition: transform 1s ease-in-out;
}

#aboutme-card:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}

.content {
  margin: 12%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 5, 17, 0.705);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  position: absolute;
  top: 5%;
  right: 10%;
  z-index: 100;
  height: 400px;
  width: 400px;
  transition: transform 1s ease;
}

.profile-image:hover {
  transform: scale(1.04);
  transition: transform 1 s ease;
}

.profile-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.096);
  z-index: 101;
  opacity: 0;
  transition: opacity 2s ease;
}

.profile-image:hover::before {
  opacity: 1;
  transition: opacity 2s ease;
}

.profile-image img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1100px) {
  .profile-image {
    height: 320px;
    width: 320px;
  }
}

@media (max-width: 768px) {
  .split-40 {
    width: 100%;
    min-height: 30vh;
  }

  .split-60 {
    width: 100%;
    max-height: 50vh;
  }

  #aboutme-card::before {
    content: "";
    position: absolute;
    left: -20%;
    top: 150%;
    transform: translateY(-80%) rotate(75deg);
    background: #fff;
    width: 60%;
    height: 500%;
  }

  .profile-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 100;
    height: 280px;
    width: 280px;
  }
}

@media (max-width: 440px) {
  #aboutme-card::before {
    content: "";
    position: absolute;
    left: -20%;
    top: 90%;
    transform: translateY(-80%) rotate(75deg);
    background: #fff;
    width: 50%;
    height: 300%;
  }
}
