<section id="aboutme">
  <div class="split-40">
    <div class="content">
      <h2>About me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
        possimus tempora, aliquam atque repellat placeat vero natus sint ratione
        enim necessitatibus nam eaque? Eos dolorem fuga esse natus optio iste.
      </p>
    </div>
  </div>
  <div class="split-60">
    <div class="profile-image">
      <img src="../../assets/elegante.jpg" alt="" />
    </div>
    <div id="aboutme-card">
      <img class="image-inside" src="../../assets/aboutme1.jpg" alt="" />
    </div>
  </div>
</section>
