<section id="skills">
  <ul class="slider">
    <li><span class="keyword">Angular</span></li>
    <li><span class="keyword">Typescript</span></li>
    <li><span class="keyword">Java</span></li>
    <li><span class="keyword">Spring Boot</span></li>
    <li><span class="keyword">MySQL</span></li>
    <li><span class="keyword">JPA</span></li>
    <li><span class="keyword">Hibernate</span></li>
    <li><span class="keyword">API Rest</span></li>
  </ul>
  <ul class="slider">
    <li><span class="keyword">Angular</span></li>
    <li><span class="keyword">Typescript</span></li>
    <li><span class="keyword">Java</span></li>
    <li><span class="keyword">Spring Boot</span></li>
    <li><span class="keyword">MySQL</span></li>
    <li><span class="keyword">JPA</span></li>
    <li><span class="keyword">Hibernate</span></li>
    <li><span class="keyword">API Rest</span></li>
  </ul>
</section>
